{% extends 'base.html'%}
{% block content%}
<p>
<div class="container" style="width:16rem;"><i>
    <h2>Products</h2>
</i>
</div>
</p>
<div class="row">
    {% for product in products %}
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{product.image_url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ product.name}}</h5>
                <p class="card-text">${{product.price}}</p>
                <a href="#" class="btn btn-primary">Add To Cart</a>
            </div>
        </div>
    </div>
    {% endfor %}
    <footer>
        <h2> About us</h2>
    </footer>
</div>
{% endblock %}